{% extends "layout.html" %}

{% block body %}
    <h1>Register</h1>
    <form action="/register" method="post">
        <input autocomplete="off" autofocus name="firstname" placeholder="First Name" type="text">
        <input autocomplete="off" autofocus name="middlename" placeholder="Middle Name" type="text">
        <input autocomplete="off" autofocus name="lastname" placeholder="Last Name" type="text">
        <input autocomplete="off" autofocus name="phonenumber" placeholder="Phone Number" type="text">
        <input autocomplete="off" autofocus name="email" placeholder="email" type="text">
        <select name="sport">
            <option disabled selected value="">Sport</option>
            {% for sport in sports %}
                <option value="{{ sport }}">{{ sport }}</option>
            {% endfor %}
        </select>
        <select name="gradelevel">
            <option disabled selected value="">Grade Level</option>
            {% for glevel in gradelevel %}
                <option value="{{ glevel }}">{{ glevel }}</option>
            {% endfor %}
        </select>
        <select name="intensitylevel">
            <option disabled selected value="">Intensity Level</option>
            {% for ilevel in intensitylevel %}
                <option value="{{ ilevel }}">{{ ilevel }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Register">
    </form>
{% endblock %}
